.adminDashboard
{
  padding: 68px 50px;
  max-width: 689px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 100%);
  border: 1px solid #FFD705;
  box-shadow: 0px 0px 37.9004px rgba(255, 160, 5, 0.2), 0px 0px 21.6574px rgba(255, 160, 5, 0.2), 0px 0px 12.6335px rgba(255, 160, 5, 0.2), 0px 0px 6.31673px rgba(255, 160, 5, 0.2), 0px 0px 1.80478px rgba(255, 160, 5, 0.2), 0px 0px 0.902391px rgba(255, 160, 5, 0.2);
  border-radius: 10px;
  margin-bottom: 150px;
  margin-top: 150px;
  font-family: 'Chakra Petch';
  position: relative;
}
.adminDashboard::after
{
  content: "";
  position: absolute;
  background-image: url("../assets/images/adminBg.svg") !important;
  width: 1500px;
  height: 1800px;
  left: -52%;
  top: -45%;
  opacity: .6;
  z-index: -1;
  background-repeat: no-repeat;
}
.adminDashboard > div
{
  box-shadow: none;
  background: transparent;
  overflow: visible;
}
.adminDashboard header
{
  padding-top: 0px!important;
  height: auto!important;
  background: transparent !important;
  box-shadow: none !important;
  z-index: 99;
}
.adminDashboard .react-datepicker-wrapper, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before
{
  display: none;
}
.adminDashboard .react-datepicker, .react-datepicker__header
{
  border: none;
  width: 100%;
  background: transparent;
}
.adminDashboard .react-datepicker__month-container {
  float: left;
  width: 100%;
}
.adminDashboard .react-datepicker-popper[data-placement^=bottom]
{
  position: relative!important;
  transform: none !important;
  padding-top: 80px !important;
}
.adminDashboard div[role="tablist"] button:first-child
{
  background: #0F1520;
  /* border: 2px solid #A4A4A4; */
  border-radius: 6px 0px 0px 6px;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.adminDashboard div[role="tablist"] button
{
  background: #E1E1E1;
  border: 2px solid #A4A4A4;
  border-radius: 0px 6px 6px 0px;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #0F1520;
}
.adminDashboard span[class*="indicator"]
{
  display: none;
}
.react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text, .react-datepicker__day-name
{
  width: 43px;
  height: 43px;
  font-family: 'Chakra Petch';
  font-size: 22px;
  line-height: 43px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #0F1520;
  cursor: pointer;
}
.react-datepicker__day-name
{
  color: #868686 !important;
}
.react-datepicker__day--outside-month
{
  color: rgba(134, 134, 134, 0.35);
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header
{
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #0F1520;
  position: relative;
}
.react-datepicker__day--selected[aria-current="date"], .react-datepicker__day--keyboard-selected[aria-disabled="false"]
{
  background: transparent;
  font-weight: normal;
  position: relative;
  border: none;
  outline: none;
}
.react-datepicker__day--selected:hover
{
  background: none;
}
.react-datepicker__day--selected::after
{
  background: rgba(216, 216, 216, 0.53);
  content: "";
  width:33px;
  height: 33px;
  position: absolute;
  border-radius: 50%;
  left: 6px;
  top: 4px;
  z-index: -1;
}
.react-datepicker__navigation
{
  width: 16px;
  height: 36px;
  overflow: visible;
}
.react-datepicker__navigation--previous {
  left: 25px;
}
.react-datepicker__navigation--next {
  right: 25px;
}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before
{
  border-color: #FFD705;
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: 6px;
  width: 20px;
}
.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: -20px;
}
.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -20px;
}
.react-datepicker__day-names {
  margin-bottom: -8px;
  margin-top: 50px;
}

/* .highlighted,.react-datepicker__day--selected{
  background: #FFD705;
  border-radius: 50%;
} */
.highlighted{
  background: #FFD705;
  border-radius: 50%;
  border: 1px solid #FFD705;
}
.highlighted:hover
{
  background: linear-gradient(0deg, rgba(62, 62, 78, 0.35), rgba(62, 62, 78, 0.35)), #FFD705;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
.react-datepicker__day--selected
{
  background:transparent;
}
.calenderPopup .MedalPopup
{
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 100%);
  border: 1px solid #FFD705;
  box-shadow: 0px 0px 37.9004px rgba(255, 160, 5, 0.2), 0px 0px 21.6574px rgba(255, 160, 5, 0.2), 0px 0px 12.6335px rgba(255, 160, 5, 0.2), 0px 0px 6.31673px rgba(255, 160, 5, 0.2), 0px 0px 1.80478px rgba(255, 160, 5, 0.2), 0px 0px 0.902391px rgba(255, 160, 5, 0.2);
  border-radius: 10px;
  padding: 55px;
  max-width: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 230px;
  margin-bottom: 300px;
}
.calenderPopup .MedalPopup .RenewWarning div span
{
  color: #0F1520;
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  font-family: 'Chakra Petch';
  margin-top: 8px;
  margin-bottom: 17px;
}
.calenderPopup .MedalPopup .RenewWarning div div.twobtns
{
  display: inline-flex;
  justify-content: space-around;
  min-width: 100%;
}
.calenderPopup .MedalPopup .RenewWarning img
{
  display:none;
}
.calenderPopup .MedalPopup .RenewWarning div p
{
  margin-bottom:0px;
}
.calenderPopup .MedalPopup .RenewWarning div div.twobtns button
{
    min-width: 45%!important;
    width: 45%;
    margin-top: 30px;
    height: 55px;
}
.calenderPopup div[data-testid="sentinelStart"] + div
{
  border:none;
  outline:none;
}
@media screen and (max-width:767px)
{
  .adminDashboard
  {
    padding:15px;
    margin-top: 75px;
  }
  .adminDashboard .react-datepicker-popper[data-placement^=bottom]
  {
    padding-top:30px !important;
  }
  .react-datepicker__day, .react-datepicker__month-text, .react-datepicker__quarter-text, .react-datepicker__year-text, .react-datepicker__day-name
  {
    width:20px;
    height:20px;
    font-size: 15px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .adminDashboard div[role="tablist"] button
  {
    font-size: 15px !important;
  }
  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header
  {
    font-size: 25px;
  }
}