.apiLoader
{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  z-index:999;
  top:0px;
  left:0px;
  text-align:center;
}
.apiLoader img
{
  margin-top:15%;
  width:300px;
  height:150px;
}